@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow for inactive panels */
}

.panel.active {
  flex: 5;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.8); /* Stronger shadow when active */
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease; /* Text fade-in with smooth animation */
}

.panel.active h3 {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .container {
    width: 100vw;
    flex-direction: column;
  }
  .panel {
    width: 100%;
    height: 60vh;
    margin: 5px 0;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
